{% extends "groceries/base.html" %}

{% block title %}Grocery List | {{ block.super }}{% endblock %}

{% block header %}<a class="prev" href="{% url 'groceries:home' %}">&#10094;</a> Grocery List{% endblock %}

{% block content %}

<ul class="grocery-list">
  {% for item in recipe_items %}
    <li id="{{ item.id }}"><span class="gl-checkbox" onclick=check({{ item.id }})></span><span class="gl-item">{{ item.description }}</span></li>
  {% endfor %}
  {% for item in extra_items %}
    <li id="{{ item.id }}"><span class="gl-checkbox" onclick=check({{ item.id }})></span><span class="gl-item">{{ item.description }}</span></li>
  {% endfor %}
</ul>

<form method="POST">{% csrf_token %}
  <input id="gl-finished" class="hidden" name="finished" type="text" value="1">
  <input class="finished-button" type="submit" value="Done">
</form>

{% endblock content %}
