{% extends "groceries/base.html" %}

{% block header %}<a class="prev" href="{% url 'groceries:home' %}">&#10094;</a> Grocery List{% endblock %}

{% block content %}

<ul class="grocery-list">
  {% for item in extra_items %}
  <li id="{{ item.id }}"><span class="gl-checkbox" onclick=check({{ item.id }})></span><span class="gl-item">{{ item.description }}</span></li>
  {% endfor %}
  {% for item in recipe_items %}
  <li id="{{ item.id }}"><span class="gl-checkbox" onclick=check({{ item.id }})></span><span class="gl-item">{{ item.description }}</span></li>
  {% endfor %}
</ul>

{% endblock content %}
