{% extends "groceries/base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'groceries/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="center-container">

  <a class="home-button" href="{% url 'groceries:recipes' %}">Recipes</a>

  <a class="home-button" href="{% url 'groceries:groceryList' %}">Grocery List</a>

	<form class='home-form' method="POST">{% csrf_token %}
		<h2>Add item to grocery list</h2>
		{{ form.description }} <button type="submit">+</button>
	</form>

</div>
{% endblock content %}
