{% extends "groceries/base.html" %}

{% load static %}

{% block title %}Edit Recipe | {{ block.super }}{% endblock %}

{% block head %}
<script src="{% static 'groceries/js/edit-recipe.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'groceries/css/recipe-edit.css' %}">
{% endblock %}

{% block header %}
<a class="prev" href="{% url 'groceries:recipes' %}">&#10094;</a> {{ title }} Recipe
{% endblock %}

{% block content %}
<div class="recipe-edit">

  <form method="POST" onsubmit=recipeItemDelete()>{% csrf_token %}

    <h2>Recipe</h2>
    <div class="recipeForm">
      {{ recipeForm.as_p }}
    </div>

    <h2>Ingredients</h2>
    <div id="itemForm">
      {{ itemFormSet.management_form }}
      <table class="itemForm">
      {% for form in itemFormSet %}
        <tr class="deletionMarker">
          <td>{{ form.description }}</td>
          <td class="hidden">{{ form.id }}</td>
          <td class="hidden">{{ form.DELETE }}</td>
        </tr>
      {% endfor %}
      </table>
    </div>
    <input class="recipe-save-button" type="submit" name="save" value="Save recipe">
    <input class="recipe-delete-button" type="submit" name="delete" value="Delete recipe">
  </form>

</div>

<table>
  <tr id="empty_itemform" class="emtpy-form">
    <td>{{ itemFormSet.empty_form.description }}</td>
    <td class="hidden">{{ itemFormSet.empty_form.form.id }}</td>
    <td class="hidden">{{ itemFormSet.empty_form.DELETE }}</td>
  </tr>
</table>
{% endblock content %}
