{% extends "groceries/base.html" %}

{% block title %}Recipe | {{ block.super }}{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'groceries/css/recipe.css' %}">
{% endblock %}

{% block header %}<a class="prev" href="{% url 'groceries:recipes' %}">&#10094;</a> Recipe{% endblock %}

{% block content %}
<div class="recipe">

  <h2 id="name">{{ recipe.name }}</h2>

  <ul>
    {% for i in items %}
    <li>{{ i.description }}</li>
    {% endfor %}
  </ul>

  <p class="howto">{{ recipe.howto }}</p>

  <div class="recipe-bottom">
    <a href="{% url 'groceries:recipeEdit' recipe.id %}" class='edit-recipe'>Edit</a>
  </div>

</div>
{% endblock content %}
