{% extends "groceries/base.html" %}

{% block content %}

<div class="recipe">

  <form method="POST">{% csrf_token %}

    <div class="recipeForm">
      <h2>Recipe</h2>
      {{ recipeForm.as_p }}
    </div>

    <div id="itemForm">
      {{ itemFormSet.management_form }}
      <h2>Ingredients</h2>
      <table class="itemForm">
      {% for form in itemFormSet %}
        <tr>
          <td>{{ form.description }}</td>
          <td>{{ form.id }}</td>
        </tr>
      {% endfor %}
      </table>
      <input type="button" value="Add More" id="add_more_ingredients" onclick=addForm("item")>
    </div>
    <input type="submit" value="Save recipe">
  </form>

</div>

<table>
  <tr id="empty_itemform" class="emtpy-form">
    <td>{{ itemFormSet.empty_form.description }}</td>
    <td>{{ itemFormSet.empty_form.form.id }}</td>
  </tr>
</table>

{% endblock content %}
