{% extends "pj/base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'pj/css/view_turnout.css' %}">
{% endblock %}

{% block content %}

<section>
  <h2>Huidige aanmeldingen</h2>
  <table>
    <thead>
      <tr>
        <th>Jaar</th>
        <th colspan="3">Aanmeldingen</th>
      </tr>
      <tr>
        <th></th>
        <th>Leerlingen</th>
        <th>Leraren</th>
        <th>Overig</th>
      </tr>
    </thead>
    <tbody>
      {% for d in data %}
        <tr>
          {% for x in d %}
          <td>{{ x }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

{% endblock %}
