<!DOCTYPE>
<html>

  <head>
    <title>Informatie voor NN workshop</title>
    <style>
    body {
      width: 70%;
      margin: auto;
      font-family: sans-serif;
    }
    table {
      border-collapse: collapse;
      border: 2px solid black;
    }
    h1 {
      margin-top: 30px;
    }
    th {
      background-color: black;
      color: white;
      padding: 10px;
    }
    td {
      text-align: left;
      padding: 8px;
    }
    td:first-child {
      font-weight: bold;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2
    }
    </style>
  </head>

  <body>

    <h1>NN HTML Workshop</h1>
    <hr>

    <table>
      <thead>
        <tr>
          <th colspan=2>Media input</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Quote</td>
          <td>I am Aragorn son of Arathorn, and am called Elessar, the Elfstone, Dunadan, the heir of Isildur Elendil's son of Gondor. Here is the sword that was broken and is forged again!</td>
        </tr>
        <tr>
          <td>Profiel foto</td>
          <td>https://vignette2.wikia.nocookie.net/lotr/images/b/b6/Aragorn_profile.jpg</td>
        </tr>
        <tr>
          <td>Link to Arwen</td>
          <td>http://lotr.wikia.com/wiki/Arwen</td>
        <tr>
          <td>Titles</td>
          <td>The Dunadan, Heir of Isildur, Envinyatar, High King of Gondor and Arnor</td>
        </tr>
        <tr>
          <td>Link to Elendil</td>
          <td>http://lotr.wikia.com/wiki/Elendil and https://vignette3.wikia.nocookie.net/lotr/images/2/2b/Elendil11.jpg</td>
        </tr>
        <tr>
          <td>Link to Isildur</td>
          <td>http://lotr.wikia.com/wiki/Isildur and https://vignette2.wikia.nocookie.net/lotr/images/6/6c/LOTR_Isildur.jpg</td>
        </tr>
      </tbody>
    </table>

  </body>

</html>
