{% extends "scrum/base.html" %}
{% load static %}

  {% block head %}

  {% endblock head %}

  {% block title %}{{ title }}{% endblock title%}

  {% block content %}
    <div class="container">

      <nav class="pb-nav">
        <ul>
          <li id="tab1Link" class="active-tab" onclick="pbtabToggle('tab1')">Sort by prio</li>
          <li id="tab2Link" onclick="pbtabToggle('tab2')">Sort by epic</li>
        </ul>
      </nav>

      <div class="tab" id="tab1">

        <table class="prio-table">
          <tr>
            <th>Name</th>
            <th>Epic</th>
          </tr>
        {% for us in userstories %}
          <tr>
            <td>{{ us.name }}</td>
            <td>{{ us.epic.name }}</td>
          </tr>
        {% endfor %}
        </table>

      </div>

      <div class="tab hidden" id="tab2">

        {% for epic, uss in us_epic.items %}
        <table class="epic-table">
          <tr>
            <th class="epic-th" colspan="3">{{ epic.name }}</th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
          {% for us in uss %}
          <tr>
            <td>{{ us.name }}</td>
            <td>{{ us.description }}</td>
          </tr>
          {% endfor %}
        {% endfor %}

      </div>

    </div>

  {% endblock content %}
