{% extends "base.html" %}

{% load static %}

{% block title %}About{{ block.super }}{% endblock title %}

{% block content %}

<div class='slideshow-container'>

    <div class='slide'>
        <img src="{% static 'img/about-slides/shelter-friends.jpg' %}" width="100%"/>
        <p>Having a reunion with friends from all over the earth</p>
    </div>

    <div class='slide hidden'>
        <img src="{% static 'img/about-slides/3d-modelling.jpg' %}" width="100%"/>
        <p>Trying new things is fun, like 3d modelling</p>
    </div>

    <div class='slide hidden'>
        <img src="{% static 'img/about-slides/piano-playing.jpg' %}" width="100%"/>
        <p>I see a piano, I play a piano</p>
    </div>

    <div class='slide hidden'>
        <img src="{% static 'img/about-slides/statistics.jpg' %}" width="100%"/>
        <p>A bit of statistics is always fun</p>
    </div>

    <a class="prev" onclick="showSlide(-1)">&#10094;</a>
    <a class="next" onclick="showSlide(1)">&#10095;</a>

</div>

<div class="about-div">
  <h2 class="about-heading">Career path</h2>
  <ul class="about-list">
    <li><b>Laboratory Research:</b> science is cool.</li>
    <li><b>EH Christian Gap Year:</b> getting to know myself.</li>
    <li><b>Public Administration:</b> helping society analyze complex problems.</li>
    <li><b>Shelter Christian Hostels:</b> most awesome place on earth to work.</li>
    <li><b>IT traineeship:</b> people were too complex, computers are more consistent.</li>
  </ul>
</div>

<div class="about-div">
  <h2 class="about-heading">Hobbies</h2>
  <ul class="about-list">
    <li><b>Music:</b> playing guitar, piano and cajon.</li>
    <li><b>Learning new things:</b> solving Rubik's cubes and juggling.</li>
    <li><b>Killing time:</b> gaming, reading random Wikipedia articles, more making of music.</li>
  </ul>
</div>

<div class="about-div">
  <h2 class="about-heading">Media consumption</h2>
  <ul class="about-list">
    <li><b>Spotify:</b> from Frozen soundtrack to Theocracy</li>
    <li><b>Netflix:</b> from Inside Out to Black Mirror</li>
    <li><b>Podcasts:</b> from Freakonomics to Hello Internet</li>
    <li><b>YouTube:</b> from LinusTechTips to Vsauce</li>
  </ul>
</div>

{% endblock content %}