{% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}">
    <script src="{% static 'js/site.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock head %}
    <title>{% block title %} | Bob{% endblock title%}</title>
</head>

<body onload="pageload()">

    <nav>
      <ul>
        <li><a id="home-link" class="home-link" href="{% url 'home' %}">Home</a></li>
        <li><a id="about-link" class="about-link" href="{% url 'about' %}">About</a></li>
        <li><a id="projects-link" class="projects-link" href="{% url 'projects' %}">Projects</a></li>
      </ul>
    </nav>

    <div class='container'>
		{% block content %}

		{% endblock content %}
	</div>

	<footer>
	    <ul class='ft-social-media'>
	        <li><a href="https://www.linkedin.com/in/bobluursema/"><img src="{% static 'img/logos/linkedin-logo.png' %}" width="20px"> LinkedIn</a></li>
	        <li><a href="https://www.facebook.com/bobluursema"><img src="{% static 'img/logos/facebook-logo.png' %}" width="20px"> Facebook</a></li>
	        <li><a href="https://www.instagram.com/bob_bard/"><img src="{% static 'img/logos/instagram-logo.png' %}" width="20px"> Instagram</a></li>
	        <li><a href="https://www.youtube.com/channel/UCW7hp6ldR7Fuaw9a45LwhGA"><img src="{% static 'img/logos/youtube-logo.png' %}" width="20px"> YouTube</a></li>
	    </ul>
	    <p class='ft-author'>Site build by Bob Luursema</p>
	</footer>

</body>

</html>