body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 95%;
  margin: auto;
}

header {
  background-color: green;
}

header > h1 {
  color: white;
  padding: 15px;
  display: inline-block;
  margin: 0;
}

.dropdown {
  color: white;
  display: inline-block;
  margin: 0;
  font-size: 2em;
  float: right;
  padding: 15px;
  font-weight: 600;
  width: 30px;
  text-align: center;
  user-select: none;
  cursor: default;
}

.dd-content {
  background-color: white;
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 40px;
  padding: 15px;
  box-shadow: 0 5px 25px 0 black;
}

.dd-content > a {
  text-decoration: none;
  color: black;
  display: block;
  margin-bottom: 15px;
}

.center-container {
  text-align: center
}


/* ------- HOME PAGE ------- */


.home-button {
  width: 90px;
  height: 90px;
  margin: 10px;
  padding: 10px;
  background-color: blue;
  display: inline-block;
  box-shadow: 0 5px 25px 0 black;
  vertical-align: top;
  position: relative;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

.home-form {
  text-align: left;
  margin-left: 20px;
}

.home-form > h2 {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.home-form > input {
  font-size: 1.3em;
  width: 230px;
}

.home-form > button {
  font-size: 1.3em;
  padding: 2px 12px;
  background-color: green;
  color: white;
}


/* ------- RECIPES PAGE ------- */


.recipes-list {
  list-style: none;
  padding: 0;
}

.recipes-list li {
  background-color: blue;
  margin-bottom: 30px;
  box-shadow: 0 5px 25px 0 black;
}

.recipes-list a {
  text-decoration: none;
  font-size: 1.3em;
  color: white;
  padding: 20px;
  display: block;
}


/* ------- RECIPE PAGE ------- */


.recipe > ul {
  list-style: none;
  padding: 5px;
  border: 3px solid darkorange;
}

.howto {
  padding: 5px;
  border: 3px solid darkorange;
}

.recipe-bottom {
  overflow:hidden;
}

.edit-recipe {
  display: inline-block;
  float: right;
  background-color: blue;
  padding: 15px;
  box-shadow: 0 5px 25px 0 black;
  color: white;
}


/* ------- RECIPE EDIT PAGE ------- */


.emtpy-form {
  display: none;
}


/* ------- GROCERY LIST PAGE -------*/


.grocery-list {
  list-style: none;
  padding: 0;
}

.grocery-list > li {
  padding: 10px;
  background-color: blue;
  margin: 10px;
  border-radius: 15px;
}

.gl-checkbox {
  float: right;
  height: 1.2em;
  width: 1.2em;
  background-color: white;
  border-radius: 10px;
}

.gl-item {
    color: white;
    font-size: 1.2em;
}
