body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 95%;
  margin: auto;
}

header {
  background-color: green;
}

h1 {
  color: white;
  padding: 15px;
}

.center-container {
  text-align: center
}


/* ------- HOME PAGE ------- */


.home-button {
  width: 140px;
  height: 140px;
  margin: 10px;
  background-color: blue;
  display: inline-block;
  box-shadow: 0 5px 25px 0 black;
  vertical-align: top;
  position: relative;
}

.home-button > a {
  color: white;
  font-size: 1.7em;
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  width: 100%;
  left: 0;
}

.home-form {
  text-align: left;
  margin-left: 20px;
}

.home-form > h2 {
  font-size: 1.5em;
}

.home-form > input {
  font-size: 2em;
  width: 270px;
}

.home-form > button {
  font-size: 2em;
  padding: 2px 12px;
  background-color: green;
  color: white;
}


/* ------- RECIPES PAGE ------- */

.recipe-filter {
  background-color: darkorange;
  text-align: left;
}

.recipe-filter > h2 {
  color: white;
  padding: 10px;
}

.recipe-block {
  background-color: blue;
  width: 140px;
  height: 140px;
  display: inline-block;
  margin: 10px;
  position: relative;
  box-shadow: 0 5px 25px 0 black;
}

.recipe-block > a {
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  width: 100%;
  left: 0;
}


/* ------- RECIPE PAGE ------- */


.recipe > ul {
  list-style: none;
  padding: 5px;
  border: 3px solid darkorange;
}

.howto {
  padding: 5px;
  border: 3px solid darkorange;
}

.recipe-bottom {
  overflow:hidden;
}

.tags {
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

.edit-recipe {
  display: inline-block;
  float: right;
  background-color: blue;
  padding: 15px;
  box-shadow: 0 5px 25px 0 black;
  color: white;
}
