{% extends "finances/base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'finances/css/balance.css' %}">
{% endblock %}

{% block header %}
<a class="prev" href="{% url 'finances:home' %}">&#10094;</a> {{ block.super }}
{% endblock %}

{% block content %}

<table class='balance-table'>
  <thead>
    <tr>
      <th></th>
      <th>Assets</th>
      <th class="spec"></th>
      <th class="spec"></th>
      <th class="spec"></th>
      <th>Liabilities</th>
      <th class="spec"></th>
    </tr>
    <tr>
      <th>{{ year }}</th>
      <th>Total</th>
      <th class="spec">Cash</th>
      <th class="spec">Checking</th>
      <th class="spec">Saving</th>
      <th>Total</th>
      <th class="spec">Study debt</th>
    </tr>
  </thead>
  <tbody>
    {% for i in data %}
    <tr>
      {% for b in i %}
      <td>
        <a href="{% url 'finances:balance_edit' year forloop.parentloop.counter %}">{{ b }}</a>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>


  {% endblock %}
