{% extends "finances/base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'finances/css/balance.css' %}">
{% endblock %}

{% block header %}
<a class="prev" href="{% url 'finances:home' %}">&#10094;</a> {{ block.super }}
{% endblock %}

{% block content %}

<table class='balance-table'>
  <thead>
    <tr>
      <th></th>
      <th colspan="{{ a_len }}">Assets</th>
      <th colspan="{{ l_len }}">Liabilities</th>
    </tr>
    <tr>
      <th>{{ year }}</th>
      {% for item in items %}
        {% if item.1 == False %}
          <th>{{ item.0 }}</th>
        {% else %}
          <th class="spec">{{ item.0 }}</th>
        {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for i in data %}
    <tr>
      {% for b in i %}
      <td>
        <a href="{% url 'finances:balance_edit' year forloop.parentloop.counter %}">{{ b }}</a>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>


  {% endblock %}
