{% load static %}

<form class="basic-form" id="balance-form" method="post" data-url="{% url 'finances:balance_edit' year monthnumber %}">{% csrf_token %}
  {{ forms.non_form_errors }}
  {% for dict in forms.errors %}
      {% for error in dict.values %}
          {{ error }}
      {% endfor %}
  {% endfor %}
  {% for form in forms %}
      {{ form.non_field_errors }}
  {% endfor %}
  {{ forms.management_form }}
  <table>
    <thead>
      <tr>
        <th colspan=3>
          <h1>Edit balance of {{ month }} {{ year }}</h1>
        </th>
        <th id="form-close">[x]</th>
      </tr>
      <tr>
        <th>Item</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for form in forms %}
      <tr class='marker'>
        <td>{{ form.item }}</td>
        <td>{{ form.amount }}</td>
        <td class='hidden'>{{ form.id }}</td>
        <td class='hidden'>{{ form.DELETE }}</td>
        <td class='hidden'>{{ form.date }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td><input id='save-button' class='save-button' type='submit' value='Save balance'></td>
    </tbody>
  </table>
</form>

<table class="empty-form">
  <tr id='empty_balanceform'>
    <td>{{ forms.empty_form.item }}</td>
    <td>{{ forms.empty_form.amount }}</td>
    <td class='hidden'>{{ forms.empty_form.id }}</td>
    <td class='hidden'>{{ forms.empty_form.DELETE }}</td>
    <td class='hidden'>{{ forms.empty_form.date }}</td>
  </tr>
</table>

<script>var year = "{{ year }}"; var month = "{{ monthnumber }}"</script>
