{% extends "finances/base.html" %}

{% load static %}

{% block head %}
<script src="{% static 'finances/js/categories.js' %}"></script>
{% endblock %}

{% block content %}

<h1 class="page-header">Categories</h1>
<hr>

<table id="income-table" class='category-table'>
  <thead>
    <tr>
      <th>Income</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for category in categories %}
      {% if category.is_income == True %}
    <tr>
      <td data-id="{{ category.id }}" data-url="{% url 'finances:category' category.id %}">{{ category.name }}</td>
      <td>
        <table class="specification-table">
          <tbody>
            {% for specification in category.category_specification.all %}
            <tr>
              <td data-id="{{ specification.id }}" data-url="{% url 'finances:category' specification.id %}">{{ specification.name }}</td>
            </tr>
            {% endfor %}
            <tr>
              <td data-url="{% url 'finances:add_specification' 1 category.id %}">+</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
      {% endif %}
    {% endfor %}
    <tr>
      <td data-url="{% url 'finances:add_category' 1 %}">+</td>
    </tr>
  </tbody>
</table>

<table id="expense-table" class='category-table'>
  <thead>
    <tr>
      <th>Expense</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for category in categories %}
      {% if category.is_income == False %}
    <tr>
      <td data-id="{{ category.id }}" data-url="{% url 'finances:category' category.id %}">{{ category.name }}</td>
      <td>
        <table class="specification-table">
          <tbody>
            {% for specification in category.category_specification.all %}
            <tr>
              <td data-id="{{ specication.id }}" data-url="{% url 'finances:category' specification.id %}">{{ specification.name }}</td>
            </tr>
            {% endfor %}
            <tr>
              <td data-url="{% url 'finances:add_specification' 0 category.id %}">+</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
      {% endif %}
    {% endfor %}
    <tr>
      <td data-url="{% url 'finances:add_category' 0 %}">+</td>
    </tr>
  </tbody>
</table>

<div id="popup-form" class="hidden"></div>

{% endblock %}
