{% extends "finances/base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'finances/css/home.css' %}">
{% endblock %}

{% block content %}

<div class="home-report home-div">
  <div>
    <h2>Income Statement</h1>
      <div class="home-income-statement">
    <table class="basic-table">
      <thead>
        <tr>
          {% for h in headers %}
          <th>{{ h }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for d in data %}
        <tr>
          {% for c in d %}
          <td>{{ c }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>

  <div>
    <h2>Current balance</h2>
    <span class='assets'>€ {{ assets }}</span>
  </div>
</div>

{% endblock content %}
