<form class='basic-form' id="transaction-form" method="POST"
data-add="{{ add }}"
{% if add == False %}data-instance-id="{{ form.instance.id }}"{% endif %}
>{% csrf_token %}
  {{ form.non_field_errors }}
  <table>
    <thead>
      <tr>
        <th colspan=2>
          {% if add %}
          <h1>Add new transaction</h1>
          {% else %}
          <h1>Edit transaction</h1>
          {% endif %}
        </th>
        <th id="form-close">[x]</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ form.date.label_tag }}</td>
        <td>{{ form.date }}</td>
        <td>{{ form.date.errors }}</td>
      </tr>
      <tr>
        <td>{{ form.amount.label_tag }}</td>
        <td>{{ form.amount }}</td>
        <td>{{ form.amount.errors }}</td>
      </tr>
      <tr>
        <td>{{ form.category.label_tag }}</td>
        <td>{{ form.category }}</td>
        <td>{{ form.category.errors }}</td>
      </tr>
      <tr>
        <td>{{ form.specification.label_tag }}</td>
        <td>{{ form.specification }}</td>
        <td>{{ form.specification.errors }}</td>
      </tr>
      <tr>
        <td></td>
        <td><input id='save-button' class='save-button' type="submit" name="save" value="Save transaction"></td>
        {% if add == False %}
        <td><a  id='delete-button' class='delete-button' href="{% url 'finances:delete_transaction' form.instance.id %}">Delete transaction</a></td>
        {% endif %}
      </tr>
    </tbody>
  </table>
</form>
