{% extends "finances/base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'finances/css/transactions.css' %}">
{% endblock %}

{% block header %}
<a class="prev" href="{% url 'finances:home' %}">&#10094;</a> {{ block.super }}
{% endblock %}

{% block dropdown-menu %}
<a href="{% url 'finances:add_transaction' %}">Add transaction</a>
{% endblock %}

{% block content %}

<ul class='years'>
  <li><a href="{% url 'finances:transactions' 2017 1 %}">2017</a></li>
  <li><a href="{% url 'finances:transactions' 2018 1 %}">2018</a></li>
  <li><a href="{% url 'finances:transactions' 2019 1 %}">2019</a></li>
  <li><a href="{% url 'finances:transactions' 2020 1 %}">2020</a></li>
</ul>

<ul class='months'>
  <li><a href="{% url 'finances:transactions' year 1 %}">Jan</a></li>
  <li><a href="{% url 'finances:transactions' year 2 %}">Feb</a></li>
  <li><a href="{% url 'finances:transactions' year 3 %}">Mar</a></li>
  <li><a href="{% url 'finances:transactions' year 4 %}">Apr</a></li>
  <li><a href="{% url 'finances:transactions' year 5 %}">May</a></li>
  <li><a href="{% url 'finances:transactions' year 6 %}">June</a></li>
  <li><a href="{% url 'finances:transactions' year 7 %}">July</a></li>
  <li><a href="{% url 'finances:transactions' year 8 %}">Aug</a></li>
  <li><a href="{% url 'finances:transactions' year 9 %}">Sep</a></li>
  <li><a href="{% url 'finances:transactions' year 10 %}">Oct</a></li>
  <li><a href="{% url 'finances:transactions' year 11 %}">Nov</a></li>
  <li><a href="{% url 'finances:transactions' year 12 %}">Dec</a></li>
</ul>

<table class='transaction-table'>
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Specification</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions %}
    <tr>
      <td>{{ transaction.date }}</td>
      <td>{{ transaction.amount }}</td>
      <td>{{ transaction.category }}</td>
      <td>{{ transaction.specification }}</td>
      <td><a href="{% url 'finances:edit_transaction' transaction.id %}">Edit</a></td>
      <td><a href="{% url 'finances:delete_transaction' transaction.id %}">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
