html {
  height: 100%;
}
body {
  font-family: sans-serif;
  margin: 0;
  min-height: 100%;
  padding-bottom: 100px;
  position: relative;
  box-sizing: border-box;
}
.hidden {
  display: none;
}
header {
  background-color: lightgreen;
  padding: 15px 30px;
}
header > h1 {
  text-align: center;
  margin: 0;
  font-family: 'Cambria', serif;
  font-size: 3em;
}


nav {
  text-align: center;
}
.menu-button {
  background: none;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: bold;
}
nav > ul {
  text-align: center;
  padding: 0;
}
nav > ul > li {
  list-style: none;
}
nav a {
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
  border: 4px solid black;
  border-radius: 20px;
  color: black;
  text-decoration: none;
}
@media only screen and (max-width: 549px){
  nav ul {
    display: none;
  }
  nav li {
    margin-top: 30px;
  }
  .nav-active {
    display: inline-block;
  }
  .menu-button {
    display: inline-block;
  }
}
@media only screen and (min-width: 550px){
  .menu-button {
    display: none;
  }
  nav > ul > li {
    display: inline;
  }
}


footer {
  background-color: lightgreen;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
}
footer p {
  padding: 0;
}
footer a {
  color: blue;
}
