h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.predownload {
  text-align: center;
    margin-bottom: 20px;
}
.download {
  padding: 10px;
  background-color: #e5e5e5;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}
.download:hover {
  background-color: #d0d0d0;
}
.attendees {
  margin: auto;
  border-collapse: collapse;
}
.attendees th {
  text-align: left;
  padding: 10px;
}
.attendees thead tr {
  background-color: #94C11F;
}
.attendees tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.attendees td {
  padding: 5px;
}
