h2 {
  text-align: center;
}
div {
  width: 90%;
  max-width: 340px;
}
table {
  margin: auto;
  border-collapse: collapse;
  margin-bottom: 30px;
}
thead tr:nth-child(2) th {
  font-weight: normal;
}
th {
  background-color: lightgreen;
  text-align: left;
  padding: 10px;
}
th:first-child {
  font-size: 1.5em;
}
tr:nth-child(even){
  background-color: #f2f2f2
}
td {
  padding: 5px;
}
td:first-child {
  padding-right: 10px;
  background-color: lightgreen;
}
