.home-container {
  
}

.home-button {
  border: 3px solid blue;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}
.home-button > canvas {
  display: block;
}
.home-button > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
