.to_process {
  margin: 15px;
  border-collapse: collapse;
}
.to_process th {
  color: white;
  background-color: blue;
  padding: 15px 10px;
  text-align: left;
}
.to_process td {
  padding: 5px 10px;
}
.to_process tr:nth-child(even){
  background-color: #f2f2f2;
}


.add_transaction {
  background: white;
  padding: 0 25px 25px 25px;
  position:fixed;
  top: 50px;
  left: 25%;
  border: 3px solid black;
  width: 380px;
}
.transaction-form {
  display: inline-block;
}
.add_transaction span {
  float: right;
  padding: 5px;
  margin-top: 30px;
}
.transaction-form th {
  text-align: left;
}
.transaction-form td:nth-child(1) {
  text-align: right;
}
.transaction-form label {
  padding: 10px 5px;
  font-size: 1.2em;
}
.transaction-form td:nth-child(2) > * {
  width: 150px;
  font-size: 1em;
  padding: 10px;
}
.transaction-form .save-button {
  padding: 10px;
  background-color: blue;
  color: white;
  font-size: 1em;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}
