{% extends "support/base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'support/css/user-overview.css' %}">
{% endblock head %}

{% block dropdown-menu %}
{% endblock dropdown-menu %}

{% block content %}
  <h2>Users</h2>
  <ul class="users">
    {% for user, notification in users %}
    <li><a href="{% url 'support:user' user.id %}">{{ user.username }}<span>{% if notification != 0 %}{{ notification }}{% endif %}</span></a></li>

    {% endfor %}
  </ul>

{% endblock content %}
